/bin
/lib
/journal
/*tmp
/mongodb*
pip-selfcheck.json

phantomjs/
share/
config.py
diagnostic.data/
include/
selenium/
app/config.py

*.pem
*.Python
*.log
*.mp3
*.ropeproject
*.swp
*.cfg
*.pyc
.DS_Store
