/bin
/lib
/journal
/*tmp

pip-selfcheck.json
app/static/*.rss
app/static/*.xml

phantomjs/
share/
config.py
diagnostic.data/
include/
selenium/
app/config.py

*.sh
*.pem
*.Python
*.log
*.mp3
*.ropeproject
*.swp
*.yml
*.cfg
*.pyc
.DS_Store

config_test.py
db_config.py
add_podcast.py
