{% extends 'base.html' %}

{% block content %}
<div class="section">
    <h1 class="blue">Tools Designed to help you become MORE!</h1>
    <p>The PIT Vault is a repository that contains links and information created by our PIT Makers to help them be more productive.</p>
    <p>PIT Makers! Login to View, Comment, and Share your best <ul>
<li>workflows</li>, 
<li>automations</li>, 
<li>programs</li>, 
<li>blueprints<li>, 
<li>gadgets</li>, gizmos</span> and <span class="blue">more</span>!
</ul></p>
</div>
{% endblock %}
