{% extends 'base.html' %}

{% block content %}
<div class="section center">
{% if message %}
			{{message}}
		{% endif %}
	<form action="/users/login" method="POST">
		Email Address: <input type="text" name="email" placeholder="me@mywebsite.com"><br>
		Password: <input type="password" name="password" placeholder="my good password"><br>
		<button type="submit">Submit</button>
  </form>
<ul class="">
<li><a href="/users/reset" class="blue underline">Reset my Password</a></li>
<li><a href="join" class="blue underline">Sign up for 30 Day Free Trial!</a></li>
</ul>
</div>
{% endblock %}
