.main {
  font-size: 1.25em;
  padding-bottom: 20px;
}

.podcast-archive {
        border-radius: 15px;
        margin: auto;
        padding-top: 1em;
        width: 80%;
}
.metadata {
    font-size: .5em;
    font-style:  italic;
}
.podcast-archive a {color: black;}
}

.podcast-archive h1 {
        text-align: center;
        text-shadow: 1px 1px 1px #3399ff;
}

.podcast-archive a:hover {
        font-size: 1.02em;
        color: #3394fa;
}

.archive {
        text-align: left;
}

.archive li {padding: .25em;}

.center {
        padding-top: 15px;
        margin: 0;
        text-align: center;
}

.center li {
        display: inline;
        padding: 5px;
        font-size: 14px;
}

.small-img img {height: 2em;}


.podcast-intro {
  display: flex;   
  width: 100%;
  font-size: 1em;
  justify-content: space-around;
}

.nav {display: flex;}
.nav div {width: 50%;}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.flex li {padding:0 .5em;
  margin: auto;}
