body{font-family:Century Gothic, sans-serif;}

.section {
        width:80%;
        margin:1em auto;
        padding: 1em 0;
        font: 48px;
        }


.hover:hover {text-decoration: underline;}
.bottom-buffer {padding-bottom: 1em;}
.grid {
    display: flex;
    padding: 1em;
    text-align: center;
    flex-flow: wrap row;
}

.grid div {
    text-align: center;
    margin: auto;
}

#title img{width: 100%;}
.white {color: white;}

.bottom-border {
  border-bottom: .50em solid #3f3f3f;
}

.right-border {border-right: .5em black solid;
}
.post-content {
    font-size: 26px;
}

.column {width: 45%;}
.left-column {
  float: left;
  padding: 0 1em;
  width: 45%;
}

.left {text-align: left;}

.right {
  text-align: right !important;
  padding-right: 1em;
}
.pit-blue {
        background-color:#37f;
}
hr {
        margin-top: .5em;
        height:1em;
        width:100%;
        text-align: left;
}


.full-width {
  width: 80%;
  margin: auto;
}

.half-width {
  width: 42%;
  margin: auto;
}
a.hover-italic:hover {
  font-style: italic;
}

.italic {
  font-style: italic;
}

.black {color: black;}
.flex {
        display: flex;
        margin: auto;
}

        ul {

                list-style-type: none;
        }

        #title {text-align: left;
                float: left;
                padding-left: .5em;
        padding-top: 1em;
        width: 22em;
}
        .main {
        margin: 3em auto 0 auto;
}

.menu {
        width: 38em;
        display: relative;
        font-size: 16px;
        text-align: right;
        float: right;
}

.right {
        text-align: right;
}

.menu a {
        color:black;
}

.menu a:hover {
        color: white;
}
#word-menu li {
        padding: 1em .5em 0 .5em;
        height: 2em;
}

.header {
  min-height: 3em;
	max-height: 8em;
        background-color: rgba(255, 255, 255, .9);
        margin: auto;
        text-align: center;
}
.menu li {
        display: inline-block;
}

.li-img img {
        vertical-align: top;
        width: 1.5em;
}

.capitalize { text-transform:uppercase;}

a, a:visited {
text-decoration: none;
}

.underline:hover {
        text-decoration: underline;
}

.header img:
{
        padding: 0;
}

#page-of{
        padding-: 1em;
}
.content h2 {
        padding-top: 10px;
        clear: both;
}

.blue-hover li:hover {
        background-color: #3377ff;
        color: white;
}

.blue-hover li:hover a {
        color: white;
}

.blue-hover li:hover a:hover {
        color: white;
}

.profile-photo {
        width: 200px;
        float: left;
        padding: 15px;
}

.menu ul {
         -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;
        display: inline-block;
}
.menu li a:hover {
        color: #3377ff;
}

.header ul {
        margin: 0px !important;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-padding-start: 0;
}

.change-bg {
  background-color: rgba(255,255,255,.7);
   text-decoration: none;
   color: #3399ff;
        }

.main:after {

}

.footer {
    clear:both;
    text-align: center;
    width: 75%;
    margin: auto;
    font-weight: bold;
    font-size:10px;
    padding-top: 1em;
    margin-top: 1em;
}

.footer a {
        color: black;
}

.footer ul {

        margin: 0;
        text-align: center;
}

.footer ul li{
    display: inline;
    list-style-type: none;
}

.footer img {
        padding: 0 5px;
    width: 25px;
    }


.footer .logo {
        width: 100px !important;
}

.center {
        margin: auto;
        text-align: center !important;
}

.inline li {display: inline-block;}


@media all and (max-device-width: 7in) {
        .header {width: 90%;
                 margin: auto;
                 min-height: 6em;}

        #title {
            text-align: center;
            width: 100%;
            height: 2em;}

        .menu {
	        width: 100%;
            text-align: center;
            margin: auto;
            float:none;
            font-size: 2.5em;}
        }
