body{
    color: #f2f2f2;
    font-family:Century Gothic, sans-serif;
    font-size: 15px;
    margin: auto;
    margin-top: 25px;
    color: black;
}

a, a:visited {
text-decoration: none;
color: black;}

a:hover {
text-decoration: underline;
}

div.header {    
    background-color: #3399ff;
    font-size: 32px;
        text-align: center;
        padding: 10px;
        width: 100%;
}

div.header img:
{
padding: 0;
}
div.header {
    color: white;
}

div.header a {
        color:white;
}
div.header ul li img {
    width: 25px;
}

div.header ul {
        margin: 0px;
}

div.header ul li {
   list-style-type: none;
   padding: 0 2.5px;
   display: inline;
   font-size: 14px;
}


div#footer { 
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size:10px;
}

div#footer ul li{
    display: inline;
    list-style-type: none;
}

div#footer img {
    width: 25px;
    }
