.post-content img {
        height: auto;
        max-width: 100%;
        width: auto;
        padding: 3em 0;
    }

.post-content {font-size: 1.2em;
line-height: 1.75;
color: #444;}

.post-content a {color: black;
  text-decoration: underline;}

.post-content a:hover {font-style: italic;}

blockquote {font-style: italic;}

.post-title h1 {
    color: #222;
    margin-top: 0;
    padding-top: 0;
}

.post-metadata {
    font-size: .9em;
    padding: 0;}

@media all and (max-device-width: 7in) {
  .post-content {font-size: 3em;
  line-height: 1.5;}
  .post-title h1 {
    font-size: 5em; }
  .post-content a {font-weight: bold;}
}
