.banner {
        background-image:url(/static/images/index_bg.jpg);
        background-repeat:no-repeat;
        background-size:100%;
        height:25em;
        font-size:18px;
        width:100%;
        color:#efefef;
        text-align:center;
        margin-top:1em
}

h1 {
        font-size:30px
}

.alpha {
        background-color:rgba(0,0,0,0.75);
        color:#fff;
        height:100%
}

.section {
        width:50%;
        margin:auto
}

.alpha img {
        padding:3em 0
}

.light {
        color:#dfdfdf!important
}

.right,.right a {
        color:#2f2f2f;
        text-align:right;
}

.pit-blue {
        background-color:#37f;
}

.word-list {
        margin: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        -webkit-padding-start: 0;
}

.word-list {
        height: 40px;
}

hr {
        margin-top: .5em;
        height:1em;
        width:100%
}

.underline:hover {
        text-decoration:underline
}

h3 {
        font-size:18px
}

#podcasts {
        width: 66%;
        text-align: center;
        margin:auto;
        display:flex;
        flex-flow:row wrap;
        padding:1em 3em
}

#podcast-info a {
        color: black;
}

#featured-episode a {
        color: #37f; 
}

#podcast-info {
        width:19em;
        margin:5em 1em 0 1em;
        color:#000;
        padding-bottom:0;
        display:flex;
        flex-flow:row wrap;
        height: 20em;
}

#podcast-info h1 {
        padding: 0;
        margin: 0;
        height: 1em;
}
#podcast-info img {
        position: top;
}

.inline {
        padding: 0;
}
.inline li {
        padding: 0 5px;
        display: inline-block;        
}

#featured-episode {
        width: 25em;
        margin:1em;
        text-align: right;
}


#featured-episode audio {
        text-align:left;
        width: 18em;
}

.left {
        text-align: left;
}

#friends {
        width: 85%;
        padding 1em 2em;
        margin: auto;
        }


#friends-content {
width: 75%;        
        margin: auto;
}
.friends-items {
        display: inline-block;
        position: relative;
        width: 10em;
        height: 12em;
        text-align: center;
        padding: 3em 1em;

}
.friends-items img {
        heigth: 25px;
        vertical-align: top;
}
.overlay {
        position: absolute;
        padding: 3em .5em;
        font-weight: bold;
        opacity: 0;
        width: 100%;
        left: 0;
        color: white;
        background: rgba(0, 0, 0, .7);
        top: 0;
        right: 0;
        text-overlay: 1px, 1px, 1px, black;
}

.overlay:hover {
        opacity: 1;
        transition: 0.4s;
}
@media all and (max-device-width: 12in) {

        div {
        font-size: 24px;
        width: 100%;
        margin: auto;
        }

        h1, h2, h3 p {
        font-size: 24px !important;
        }

        hr {
        margin-top: 2em;
        }

        #title img {
        height: .8em;
        width: 100%;
        margin: auto;
        }

        .banner {
        background-image: none;
        }
        .alpha {
        margin-top: 1em;
        font-size: 1em;
        height: 40%;
        padding: 1em;
        }

        .alpha img {
                display: none;
                visibility: hidden;
        }

        #podcasts {
                margin:auto;
                width:100%;
                text-align:center;
                padding:0
        }

        #podcast-info {
                text-align: center;
                display:block;
                margin:1em auto 0 auto;
        }

        #featured-episode {
                width:85%;
                display: block;
                margin: auto;
                text-align: center;

        }

        #community {
                height:auto;
                position:relative;
                background-size:600%
        }

        #community-content {
                padding-top:3em
        }

        #community ul {
                padding:0
        }
        #friends {
         padding: 0;
         text-align: center;
        }

        #friends-content {
width: 80%;
margin: auto;
        }

        #friends-content div {
                margin:auto;
                text-align: center;
                position: relative;
        }
        
        .friends-items {
                width: 100%;
                height: auto;
                display: block;
        }

        .overlay {
        font-size: .5em;
        width: 80%;
        opacity: 1;
        text-align: left;
        }
}
