.sections {
        background-image: url("/static/images/index_bg.jpg");
        background-repeat: no-repeat;
}

.section_image h1 {
        font-size: 26px;
        }

h2 {
font-size: 22px;
}

h3 {
font-size: 18px;
}

.section_image a {
        text-decoration: underline;
}
.section_image a:hover {
        font-style: italic;

}
.focus a {
        color: #f3f3f3;
}


@media all and (max-width: 35em) {
        .sections {
        width: 100%;
        flex-wrap: column;
        margin: 0; 
        }

        .section_image {
                padding: 1em; 
                width: 90%;
                margin: 0 auto 1em 0;
                height: 15em;
                background-color: rgba(255,255,255, .9);
        }
}

@media all and (min-width: 35em)
{
   .sections {
                width: 100%;
                margin: 0 auto;
                text-align: center;
                background-size: 2600px;
                position: relative;
                background-position: left;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
   }

       
   .section_image {
                background-color: rgba(255,255,255,.7);
              vertical-align: top;
        padding: 1em;
        margin: 2em;
        height: 28em;
        font-size: 16px;
        width: 15em;
        }
}


