/*body {background-image: url('http://productivityintech.com/files/images/community-banner.png');
background-position: center;
background-size: cover;
background-repeat: no-repeat;*/
body {background-color: #515253;}

h1 {font-family: 'Oswald', cursive;
    font-size:3em;
    color: #3394FA;
    text-transform: uppercase;
    }

    .menu a {
            color:white !important;
    }

    .menu a:hover {
            color: white;
    }

.section {
    /*box-shadow: inset 0 0 0 5000px rgba(0,0,0,.2);*/
    color: white;
    width: 75% !important;
    margin: auto;
    }


.section code {
  font-size: 1.5em;
  text-align: left;
  padding: 10px 2em;
  margin: auto;
  background-color: #aaa;
  font-family: 'courier new', 'monospace';
}

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

.latest-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}

.latest-content div {
  align-items: flex-start;
  color: white;
}

.latest-episodes {
  display: flex;
  justify-content: flex-start;
  }


.latest-episodes ul {
  display: flex;
  width: 75%;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
  padding-bottom: 2em;
  }

.centered {width: 100%;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}

  @keyframes slide {
    0 {transform: translateX(0%);}
    40% {transform: translateX(0%);}
    50% {transform: translateX(-100%);}
    90% {transform: translateX(-100%);}
    100% {transform: translateX(0%);}
  }

.word-list {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
 }

.latest-episodes {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  font-weight: bold;
  }

.podcast_links {
  justify-content: space-between;
  display: flex;
  }

.latest-episode-image {
   width: 100%;
}

.left {text-align: left;}


.post {
  align-items: flex-start;
}
.featured-image{width:150px;
              height: 50px;}
@media all and (max-device-width: 7in) {
    .grid div {width: 90%;}
        .banner {font-size: 3em;}


    .grid div p {
        width: 80%;
        margin: auto;}

    .latest-episodes {flex-direction: column;}
    }
