div#content_wrapper {
    margin: auto;
    width: 600px;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
}

div#shownotes {
    text-align: left;    
    margin-top: 15px;
}
audio {
    width: 400px;
    }

li {
    text-align: left;
    width: auto;
}
