div#content_wrapper {
        display: flex;
        flex-flow: row no-wrap;
        width: 66%;
        text-align: center;
        font-family: sans-serif;
        margin: auto;
}

.left-panel {
        width: 25%;        
}

#subscribe {
        float: right;
        position: fixed;
        text-align: right;
        margin-top: 200px;
        margin-left: 150px;
}

h1 {
        font-size: 2em;
        }

#subscribe h2 {
        font-size: 1.5em;
        }

#subscribe ul li {
        text-align: right;
}

#title {
        background-color: white;
        position: fixed;
        float: left;
}       

.content {
        padding-top: 1em;
}

div#shownotes {
    text-align: left;    
    width: 50%;
    float: right;
    margin: auto;
    font-size: 18px;
    padding: 0 25px;

}

audio {
    width: 20em;
    padding-top: 10px;
    }

li {
    text-align: left;
    width: auto;
}

p.navigation {
    padding: 25px;
    text-align: center;
}

ul.nav, ul.nav li {
        text-align: center;
        display: inline;
   list-style-type: none;  
padding: 0 5px;}
