.main {
        background-image: url('https://farm2.staticflickr.com/1670/25167816104_9a32b57cd6_k_d.jpg');
       padding-bottom: 20px;
}

.podcast-archive {
        border-radius: 15px;
        margin: auto;
        padding-top: 1em;
        background-color: rgba(0,0,0, 0.6); 
        color: white;
        font-size: 18px;
        width: 60%;
}
.podcast-archive a {
        color: #f2f2f2;
}

.podcast-archive h1 {
        text-align: center;
        text-shadow: 1px 1px 1px #3399ff;
}

.podcast-archive a:hover {
        font-style: italic;
        text-decoration: underline;
}

#archive {
        text-align: left;
}

#archive li {
        padding: 1em;
}

.center {
        padding-top: 15px;
        margin: 0;
        text-align: center;
}

.center li {
        display: inline;
        padding: 5px;
        font-size: 14px;
}
