.basic {
  width: 13em;
  padding: 0 1em;
  }

.perks {
  padding-left: 2em;
  border-left: solid #3394fa 10px;
  width: 60%;
  align-items: center;
  justify-content: center;
  }

.perks-img {
  height: 2em;
  padding-right: 1em;
  vertical-align: middle;
  }

.perk-wrapper {
  justify-content: center;
}
.sign-up {
  padding: 0 10px;
  }

.greyed {color: #ddd !important;}
.greyed h4  {color: #ddd !important;}

input {
  height: 2em;
  width: 350px;
  margin: 10px;
 color: #3394FA;
  font-family:Century Gothic, sans-serif;
  font-size: 24px;
  }
#card-element {
  width: 350px;
}

.signup-button {
  height: 50px;
  background-color: #3394fa;
  color: #fff;
  font-weight: 300;
  font-size: 24px; 
  margin: 14px 0;
  border-radius: 5px;
  text-align: center;

}

:-moz-placeholder {
  color: #3394FA;
  opacity: .4;
  font-weight: 300;
}

::-moz-placeholder {
  color: #3394FA;
  opacity: .4;
  font-weight: 300;
}

::-webkit-input-placeholder {
  color: #3394FA;
  font-weight: 300;
  opacity: .4;
}

:-ms-input-placeholder {
  color: #3394FA;
  font-weight: 300;
  opacity: .4;
}
select {
  height: 2em;
  padding: 5px 8px;
  width: 350px;
  font-weight: 200;
  color: #3394fa;
  font-size: 22px;
  border: 1px solid #3394fa;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
  text-align: right;
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 30px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
