body {
  background-image: url('/static/images/subscribe-page.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.podcast-list {}
.podcast-list li {
    display: inline-flex;
  padding: 0 1em;
}

.podcast-list img {
  height: 4em;
  vertical-align: middle;

}

img.blowup {height: 6em;}
