{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/podcast_archive.css')}}">
<div id="podcast-intro" class="bottom-border">
<h2 class="center"><img src={{podcast.logo_small}} width="150px" style="padding-right: 2em;">{{podcast.title}}</h2>
<p class="center bottom-buffer">Subscribe to <em>{{podcast.title}}</em> on your Mobile device.</p>
<ul class="margin flex small-img hide-on-mobile">
    {% for link in podcast.links %}
    <li>
    <a href="{{link.url}}">
    {% if link.image_path %}<img alt="{{link.name}}" src="{{link.image_path}}"/>
    {% else %}
    {{link.name}}
    {% endif %}
    </a>
</li>
{% endfor %}
</div>
<div class="podcast-archive">
<ul class="archive">
{% for episode in episodes %}
<li>
<a href="{{url_for('play', podcast=podcast.collection_name, id=episode['_id'])}}" class="bold">{{episode['title']}}</a>
</li>
{% endfor %}
</ul>
<div class="nav">
	<div>
		{% if page > 1 %}
			<p class="left">
				<a href="{{url_for('podcast_archive', page=page-1)}}">View Previous Episodes</a>
			</p>
		{% endif %}
	</div>
	<div>
		{% if page < max_page %}
			<p class="right">
				<a href="{{url_for('podcast_archive', page=page+1)}}">View Previous Episodes</a>
			</p>
		{% endif %}
	</div>
</div>
{% endblock %}
