{% extends 'base.html' %}
    {% block head %}
<title>Productivity in Tech</title>
<link rel="stylesheet" href="/static/css/index.css">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    {% endblock %}
</head>

{% block content %}
<div class="section">
<div class='center'>
  <code>git add be/more/productive/at/* && commit<span class='blinking-cursor'>|</span></code>
  <p class='left'>Today's technology space is home to some of the smartest and most creative individuals in the world. However, the demands that are placed on them often result in burnout and mental and physical fatigue.</p>

<h3>Start working toward greater productivy and reclaim control in your life.</h3>
</div>
  <div class="latest-content">
{% if episode %}
    <div class="latest-episodes">
      <a class="blue" href="/{{podcast.collection_name}}">  <h2 class="left">{{podcast.title}}</h2></a>
<div class="podcast">
  <div class="podcast-image">
     <img class="latest-episode-image"
          src="{% if podcast.featured_image %}
          {{podcast.featured_image}}
          {% else %}
          {{podcast.logo_small}}
          {% endif %}
          ">
  </div>
  
  <div>
      <a class="white" href="/{{podcast.collection_name}}/{{episode['_id']}}"> <h2>{{episode['title']}}</h2></a>
      {{episode['content']}}
      <p class="right"><a class="white hover" href="/{{podcast.collection_name}}">View Other Episodes</a></p>
    </div>
  </div>
        <ul>
        {% for link in podcast.links %}
        <li>
          <a href="{{link.url}}">
            {% if link.image_path %}<img alt="{{link.name}}" src="{{link.image_path}}" height="35em"/>
            {% else %}
            {{link.name}}
            {% endif %}
            </a>
          </li>
                {% endfor %}
            </ul>


</div>
</div>
{% endif %}
{% if blog_post %}
<div class="post">
<a href="/blog"><h2 class="blue">Latest Blog Post</h2></a>
  <h2>
  <a class="white"  href="/blog/{{blog_post['_id']}}">{{blog_post['title']}}</em></h2></a> <p>{{blog_post['content']}}<p>
    <a class="white" href="/blog/{{blog_post['_id']}}"><h3 class="right"><u>Read More</u></h3>
</div>
{% endif %}
</div>
</div>
    {% endblock %}
