{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/podcasts.css') }}">
<div class="section">
<h1>Select a podcast</h3>
<div class="grid">
    {% for podcast in podcasts %}
    <div>
        <a href="{{podcast}}" class="black underline">
            <h2>{{podcasts[podcast].title}}</h2>
            <img src="{{podcasts[podcast].logo_small}}">
        </a>
    </div>
{% endfor %}
    <div>
        <a href="/pitmaster" class="black underline">
            <h2>Productivity in Tech: Master Feed</h2>
            <img src="http://productivityintech.com/files/images/pitmaster.png">
        </a>
    </div>
</div>
{% endblock %}
