{% extends 'base.html' %}

{% block content%}
<div class="section">
<h1 class="center">This is the first step to helping you get productive! 🍾 </h1>

<h2 class="blue">Thank you for subscribing!</h2>
<p>You will get an invite in the next 2 hours with an invitation to our slack team.</p>
<p>We look forward to seeing you in there. Be sure to introduce yourself.</p>

<p class="blue center"> While you are waiting for your invitation, why don't you check out our <a class="blue underline" href="http://productivityintech.com/pitpodcast/latest"><em>latest podcast episode</em></a>, or our <a class="blue underline" href="https://productivityintech.com/blog"><em>blog</em></a>.</p>
</div>
{% endblock %}
