{% extends 'base.html' %}

{% block content%}
<div class="section">
<h1 class="center">This is the first step to helping you get productive! 🍾 </h1>

<h2 class="blue">Thank you for subscribing!</h2>
We are putting things together to give you a better experience on our website! I can't even begin to tell you all thats in store. 

While we are continuing to make things even better, why don't you take a second and subscribe to our <a href="/podcast" class="blue">Podcast</a>.
<div class="center">
<h2 class="blue">Join the Conversation</h2>
<p>Click the link below to get your invitation to the Premium Member Slack Channel!
</p>
<p class="center">
<img height="75px" src="/static/images/btn-add-to-slack.svg">
</p>
<p>We look forward to meeting you!</p>
</div>
</div>
{% endblock %}
