{% extends 'base.html' %}
{% block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/support.css')}}">
<div class="section center">
<h1>Help Support Productivity in Tech</h1>
Pledge a few dollars to <em>Productivity in Tech</em>

<ul class="two-column">
    <li><a href="/patreon" class="black underline"><h3>Support the Podcast Monthly via Patreon</h3><br/><img src='/static/images/patreon.png' width="300em"></a></li>

    <li><a href="/paypal" class="black underline"><h3>Give a One-Time Donation via Paypal</br></br></br><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_200x51.png" alt="PayPal" /></h3></a></li>
</ul>
{% endblock %}
<div>
