<!DOCTYPE HTML>
<html>
    <head><Title>Productivity in Tech</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">    
    </head>
    <body>
            <div class="main">
                    <div class="header">
                    <a href="/"><img class="wide-only" src="{{ url_for('static', filename='images/prod_logo_blue.png')}}" alt="Productivity in Tech">
                            <img class="mobile-only" src="{{ url_for('static', filename='images/prod_logo_white.png')}}"></a>

                    <ul class="menu ">
                        <li><a href="mailto:info@productivityintech.com" target="new"><img src="{{url_for('static', filename='images/Email-Icon.png' )}}"  alt="info@productivityintech.com"></a></li>
                        <li><a href="http://productivityintech.com/fb" target="new"><img src="{{url_for('static', filename='images/Facebook-Icon.png')}}" alt="Join our Facebook Community"></a></li>
                         <li><a href="https://twitter.com/prodintech" target="new"><img src="{{url_for('static', filename='images/Twitter-Icon.png')}}" alt="@ProdTechPodcast - Twitter"></a></li>
                            <a href="/podcast"><li class="menu-item" id="menu-podcast">Podcast</li></a>
                            
                            <a href="/support"><li class="menu-item" id="menu-support">Support</li></a>
                        
                    </ul>
                </div>
                {% block content %}
                {% endblock %}

                  <div id=footer>
                                  <img class="logo" src="{{url_for('static', filename='images/prod_logo_black.png')}}">
                                  <a href="mailto:info@productivityintech.com" target="new"><img src="{{url_for('static', filename='images/Email-Icon.png' )}}"  alt="info@productivityintech.com"></a>
                        <a href="http://productivityintech.com/fb"><img src="{{url_for('static', filename='images/Facebook-Icon.png')}}" alt="Join our Facebook Community"></a>
                        <a href="https://twitter.com/prodtechpodcast"><img src="{{url_for('static', filename='images/Twitter-Icon.png')}}" alt="@ProdTechPodcast - Twitter"></a>
                                  <p>Productivity in Tech {{config.year}}</p>
                                  <p>
                                  Photos provided by <a href="https://www.flickr.com/photos/wocintechchat/">#WOCinTechChat</a></p>
                                Maintained by <a href="https://twitter.com/kjaymiller">Jay Miller</a></div>
            </div>
            <script src="{{url_for('static', filename='scripts/jquery.js')}}"></script>
            
            <script>
$(function(){
        $('.menu-item').mouseenter(function() {
                $('.menu-item').removeClass("change-bg");
                $(this).addClass("change-bg");
        });        
});
            </script>
        {% block script %}
        {% endblock %}
        </div>
    </body>
    </html>
