<html>
    <head><Title>Productivity in Tech</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">    
    </head>
    <body>
            <div class="title">
                Productivity in Tech
            </div>

            <div class="featured">
                <div id="feature_boundary">
                <div id="main_menu">
                    <ul>
                        <li>Podcast</li>
                        <li>Blog</li>
                        <li>Community</li>
                        <li>Contact</li>
                    </ul>
                </div>
                    <div id="latest_episode">
                        <h2>{{episode.title}}</h2>
                        <p>Craig is a Data Manager and professional photographer who manages both career and passion with a very versatile tool</p>
                        <h2 id="listen">Listen Now...</h2>
                    </div>
                </div>
            </div>

                <div id=footer> Productivity in Tech {{config.year}}<br>
                Maintained by <a href="https://twitter.com/kjaymiller">Jay Miller</a>
            </div>
    </body>
    </html>
