{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block content %}
<div id="recent-posts" class="section">
<div class="post-link">Recent Blog Posts<a href="http://productivityintech.com/files/feed.xml">
{% for link in blog['links'] %}
  <img alt="subscribe to {{link.name}}" src="{{link.image_path}}"></a>
{% endfor %}
</div>
<hr class="pit-blue">
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
<ul>
{% for post in posts %}
<li class="post">
{% if post['featured_image'] %}<img class="post-image" src="{{post.featured_image}}">{% endif %}
<a class="black italic" href="/blog/{{post['_id']}}">{{post['title']}} <span class="tags">{{post['publish_date']}}</span>
<br>
</a><span class="tags">({% for tag in post['tags'] %}
{% if tag in post['tags'][-1] %}
<a href="#" class='black underline'><em>{{tag}}</em></a>
{% else %}
<a href="#" class='black underline'><em>{{tag}}</em></a>,
{% endif %}
{% endfor %})
</span>
{% endfor %}
</ul>
</div>
{% endblock %}
