{% extends 'base.html' %}

{% block content %}
<div id="recent-posts" class="section">
<h1 class="center">Recent Blog Posts</h1>
<hr class="pit-blue">
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
<ul>
{% for post in blog %}
<li class="post">
<a class="black italic" href="/blog/{{post['_id']}}">{{post['title']}} </a><span class="tags">({% for tag in post['tags'] %}
{%if tag in post['tags'][-1] %}
<a href="#" class='black underline'><em>{{tag}}</em></a>
{% else %}
<a href="#" class='black underline'><em>{{tag}}</em></a>,
{% endif %}
{% endfor %})
</span>
<p class="right half-width"><em>{{post['preview']}}</em></p>
{% endfor %}
</li>
    <p class="right half-width" style="padding-top: 1em;"><a href="#">view more</a></p>
{% endblock %}
