{% extends 'base.html' %}
    {% block head %}
    <title>Productivity in Tech</title>
    {% endblock %}
</head>

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
            <div class="grid">
                <div>
                    <a href="/join" class="white hover">
                    <h1>Community</h1>
                    <img src="http://productivityintech.com/files/images/community-2.png">
                    <p>Take advantage of our ever growing online community of tech professionals and productivity enthusiasts.</p>
                  </a>
              </div>
              <div>
                  <a href="/podcasts" class="white hover">
                    <h1>Podcasts</h1>
                    <img src="http://productivityintech.com/files/images/podcasts-2.png">
                    <p>Our podcasts focused on helping others to be more productive at work and in life.</p>
                  </a>
              </div>
              <div>
                <a href="/blog" class="white hover">
                  <h1>Blog</h1>
                  <img src="http://productivityintech.com/files/images/blog-2.png">
                  <p>Great content and updates created for you consume at your leisure.</p>
                </a>
              </div>

              <div>
                <a href="/youtube" class="white hover">
                  <h1>Video</h1>
                  <img src="http://productivityintech.com/files/images/video-2.png">
                  <p>Subscribe to new videos!</p>
                </a>
              </div>

<!--
                <div id="pros">
                    <a href="/pros" class="white hover">
                        <h1>Pros</h1>
                        <img src="http://productivityintech.com/files/images/star.png">
                        <p>Learn Productivity tips from professionals in the productivity industry.</p>
                    </a>
                </div>
            -->
</div>

<h1 class="blue">Latest Podcast Episodes</h1>
<div class="latest-episodes">
{% for podcast in latest_podcast%}
<div>
  <div class="episode" style="background-image: url('{{podcast['podcast'].logo_href}}');">
    <a href="/{{podcast['podcast'].collection_name}}/{{podcast['podcast'].episode_number}}">

    <div class="overlay">
      <div class="episode">
      <h1><em>{{podcast.title}}</em></h1>
</div>
</div>
</a>

</div>
<div class="podcast-links">
  {{podcast['podcast'].title}}:
      <ul>
            {% for link in podcast.links %}
            <li>
            <a href="{{link.url}}">
            {% if link.image_path %}<img alt="{{link.name}}" src="{{link.image_path}}" height="25em"/>
            {% else %}
            {{link.name}}
            {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
 </div>
 </div>
{% endfor %}
</div>

<h1 class="blue">Latest Blog Posts</h1>
<div class="latest-blog-posts">
{% for post in posts%}
<div class="posts">
  <a href="/blog/{{post['_id']}}"><img src="{{post.featured_image}}" class="featured-image"><h3><em>{{post.title}}</em></h3></a>
</div>
 {% endfor %}
    {% endblock %}
