{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <div class="banner">
                <div class="alpha">
                        <img src="{{ url_for('static', filename='images/prod_logo_blue.png')}}" alt="Productivity in Tech">
                        <div class="section"><h1>Be (more) productive</h1>
                                <p>Our goal is to help people in tech understand what makes them productive so they can focus on improving their skills and their life.</p>
                        </div>
                </div>
        </div>

        <div id="podcasts">
                <div id="podcast-info">
                        <h1>The PIT Podcast</h1>
                        <hr class="pit-blue">
                        <p>
                        The show where each week, host Jay Miller talks to someone in tech that loves productivity...</p>
                        <h3>Or at least talking about it</h3>
                        <h3><a href="/podcast" class="underline">View Podcast Archive</a></h3>
                </div>

                <div id="featured-episode">
                                 <a class="underline" href="podcast/{{podcast['episode_number']}}"><h2>{{podcast['title']}}</h2></a>
                                        <audio preload="none" controls type="audio/mpeg" src="{{podcast['url']}}"></audio>
                </div>
        </div>
        <div id="community">
                <div id="community-content" class="alpha">
                <h1>The PIT Community</h1>
                <p>The Productivity in Tech Community helps people all over the world be more productive!</p>
                <p>Join one of our many online groups today!</p>
                <ul>
                        <li><a href="/fb" class="underline"><h2>Join our Facebook Group</h2>
                                        <img src="{{url_for('static', filename='images/FB-f-Logo__blue_100.png')}}"></a></li>
                        <li><a href="/join" class="underline">
                        <h2>Join our slack channel</h2>
                        <img src="{{url_for('static', filename='images/Slack_Mark_Web.png')}}" width="100px"></a></li>
        </div>
                </div>
        <div id="friends" class="left">
                <h1>Check out a few of our friends!</h1>
                <p>Here are a few people that help support the Productivity in Tech Community</p>
                <ul>
                {% for friend in friends %}
                <li><img src="{{url_for('get_image', oid=friend['_id'])}}" alt="{{friend.name}}" style="width: 150px;"></li>
                {% endfor %}
                </ul>
        </div>
{% endblock %}
{% block script %}
{% endblock %}
