{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <div class="banner">
            <img src="{{ url_for('static', filename='images/prod_logo_blue.png')}}" alt="Productivity in Tech">
                </div>
        <div class="section bottom-border center"><h1>Be (more) productive</h1>
                <p>Our goal is to help people in tech understand what makes them productive so they can focus on improving their skills and their life.</p>
                    </div>

        <div class="section flex bottom-border">
                <div id="podcast-info" class="half-width">
                  <a href="/pitpodcast" class="black"><h1>The PIT Podcast</h1></a>
                  <hr class="pit-blue">
                        <p>You can subscribe to the <em>Productivity in Tech Podcast</em> on...</p>
                          <ul class="word-list">
                                          <li>
                                  <a href="https://itunes.apple.com/us/podcast/productivity-in-tech-podcast/id1086437786?mt=2">
                                          <img src="static/images/Get_it_on_iTunes_Badge_US_1114.svg" alt="Itunes">
                                  </a></li>
                                  <li><a href="https://play.google.com/music/listen#/ps/Isoopwbe6zdbev5ijenegkcpp44"><img src="/static/images/play_en_badge_web_generic.png" height="40px"></a></li>
                                  <li><a href="https://productivityintech.libsyn.com/rss"><img src="static/images/rss.png" alt="RSS" height="40px"></a></li>
                                  <li><a href="/subscribe">Others...</a></li>
                            </ul>
                                    <h2>Latest Episode</h2>
                    <a class="underline" href="/pitpodcast/last">
                            <h3>{{podcast['title']}}</h3>
                            <ul class="inline"><li ><a href="/pitpodcast" class="underline">View PITPodcast Archive</a></li>
                                <li><a href="pitreflections" class="underline">View PIT Reflections</a>
                </div>
        <div id="community" class="half-width">
                        <h1><a href="/join" class="black">The PIT Community</a></h1>
                <p>The Productivity in Tech Community helps people all over the world be more productive!</p>
<h2><a href="/fb" class="underline black">Join the Productivity in Tech Facebook Group</h2>
<p class="center">
<img class="img-margin" src="/static/images/FB-f-Logo__blue_100.png"></a></p>
        <p class="right"><a href="/join" class="underline black"><b>Get Involved</b></a></p>
        </div>
      </div>
      <div id="friends" class="left section">
                <h1><a href="/friends" class="black underline">Check out a few of our friends!</a></h1>
                <p>Here are a few people that help support the Productivity in Tech Community</p>
                </div>
                <div id="friends-content" class="center">
                {% for friend in friends %}
                <div class="friends-items">
                        <p>
                        <a href="{{friend.url}}"><img src="{{url_for('get_image', oid=friend['_id'])}}" alt="{{friend.name}}"></a></p>
                <a href="{{friend.url}}"><div class="overlay">
                                <p>{{friend.name}}</p>
                                {{ friend.description }}
                        </div></a>
                </div>
                {% endfor %}
        </div>
        </div>
{% endblock %}
