{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/join.css') }}">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=144774345966834";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="content">
<p>
  <h1>There are plenty of ways to get involved...</h1>
  <p>There is a growing community of people trying to improve their productivity. Productivity in Tech has plenty of ways to connect with you.</p></div>
<div class="social"> 
  <div class="fb-page" data-href="https://facebook.com/prodintech" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://facebook.com/prodintech" class="fb-xfbml-parse-ignore"><a href="https://facebook.com/prodintech">Productivity in Tech</a></blockquote></div>

  <div class="twitter">
<a href="https://twitter.com/Prodintech"><img src="http://productivityintech.com/files/images/join_twitter.png" width="150em"><br></a>
<a href="https://twitter.com/Prodintech" class="twitter-follow-button" data-size="large" data-show-count="True">Follow @Prodintech</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
  <div class="instagram">
<a href="https://instagram.com/prodintech">
	<img src="http://productivityintech.com/files/images/join_ig.png" width="150em"><br></a>
	    <style>.ig-b- 
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        .ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }
    </style>
        <a href="https://www.instagram.com/productivityintech/?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
  </div>
</div>
	<h1>Connect with many of our other PIT Community Members</h1>
<div class="community">
    <div>
      <a class="black" href="http://productivityintech.com/fb">
      <h3>Productivity in Tech <br>Facebook Group</h3></a>
<a href="http://productivityintech.com/fb">
<img src="http://productivityintech.com/files/images/join_fb.png"></a>
</div>
<div>
<a><h3>Reddit</h3></a>
<a href="https://reddit.com/r/productivityintech"><img src="http://productivityintech.com/files/images/comunity_reddit.png"></a></div>
<div>
<h3>Slack</h3><img src="http://productivityintech.com/files/images/join_slack.png"><a href="prodictivityintech.slack.com"<img src="http://productivityintech.com/files/images/Slack%20App%20Icon.png"></a></div>
  </div>
</div>
</p>
</div>
{% endblock %}
