{% extends 'base.html' %}

{% block content %}
<div class="section center">
{% if error_message %}
			{{error_message}}
		{% endif %}
	<form action="/login" method="POST">
		Email Address: <input type="text" name="email" placeholder="me@mywebsite.com"><br>
		Password: <input type="password" name="password" placeholder="my good password"><br>
		<button type="submit">Submit</button>
  </form>
<ul class="flex">
<li>Forgot Password</li>
<li>Sign up for 7-Day Free Trial!</li>
</ul>
</div>
{% endblock %}
