{% extends 'base.html' %}

{% block content%}
<div class="section">
<h1>Thank you for subscribing!</h1>
This is an amazing first step!
Your card will not be charged until your trial is up.

You will get an invite in the next 5 minutes with an invitation to our slack team.

We look forward to seeing you in there. Be sure to introduce yourself.

While you are waiting for your invitation, why don't you check out our <a href="http://productivityintech.com/pitpodcast/latest">latest podcast episode</a>, or our <a href="https://productivityintech.com/blog">blog</a>.
</div>
{% endblock %}
