{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/podcast_archive.css')}}">

<div class="podcast-archive">
<h1>PIT Reflections</h1>
<hr class="pit-blue" />
<p><em>PIT Reflections</em> is a daily podcast serving as an audio journal and highlighting lessons learned in day to day experiences.</em></p>

<p> Subscribe to <em>Productivity in Tech Podcast</em> on your Mobile device.</p>
<ul class="margin flex small-img"><li><a href="https://itunes.apple.com/us/podcast/productivity-in-tech-reflections/id1161292423"><img alt="iTunes" src="static/images/Get_it_on_iTunes_Badge_US_1114.svg"></a></li>
<li><a href="https://play.google.com/music/listen#/ps/Isoopwbe6zdbev5ijenegkcpp44"><img alt="Google Play" src="static/images/play_en_badge_web_generic.png"></a></li></p>
<li> <a href="http://productivityintech.libsyn.com/rss">RSS Link</a></li>
</ul>
<ul class="center">
        <li><a href="/reflections/page=1"><< First</a></li>
        <li><a href="/reflections/page={{nav['minus_10']}}">< Backward</a></li>
        <li><b>Page {{nav['current']}} of {{nav['total']}}</b></li>
        <li><a href="/reflections/page={{nav['plus_10']}}">Forward ></a></li>
        <li><a href="/reflections">Latest >></a></li>
</ul>
<ul class="archive">
{% for episode in episodes %}
<li>
<a href="{{url_for('reflections_play', episode_number=episode['episode_number'])}}">{{episode['title']}}</a>
</li>
{% endfor %}
</ul>
<ul class="center">
        <li><a href="/reflections/page=1"><< First</a></li>
        <li><a href="/reflections/page={{nav['minus_10']}}">< Backward</a></li>
        <li><b>Page {{nav['current']}} of {{nav['total']}}</b></li>
        <li><a href="/reflections/page={{nav['plus_10']}}">Forward ></a></li>
        <li><a href="/reflections">Latest >></a></li>
</ul>
</div>
{% endblock %}
