{% extends 'base.html' %}
{% block head %}
    <Title>{{podcast['title']}} {%if episode['episode_number']%}{{episode.episode_number}}{% endif %}:{{episode.title}} – Productivity in Tech</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/play.css') }}">
<!-- twitter code -->
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=144774345966834";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Site Content -->
<div id="content_wrapper">
    <div id="podcast_info">
        <h1>{{episode['title']}}</h1>
        <div class="subscribe">
            <ul class="inline word-list">
                {% for link in podcast.links %}
                <li>
                <a href="{{link.url}}">
                {% if link.image_path %}<img alt="{{link.name}}" src="{{link.image_path}}" height="65em"/>
                {% else %}
                {{link.name}}
                {% endif %}
                </a>

            </li>
            {% endfor %}
            </ul>
        </div>
        <div class="audio">
         <audio preload="none" controls src="{{episode['media_url']}}" type="audio/mpeg">
            Sorry your browser doesn't support HTML Audio
        </audio>
    </div>
        <!-- Your share buttons code -->
<div class="share_buttons">
            <ul class="inline"><li><div class="mobile-hide inline fb-share-button" data-href="http://productivityintech.com/{{podcast['collection_name']}}/{{episode.episode_number}}" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://productivityintech.com/{{podcast['collection_name']}}/{{episode.episode_number}};src=sdkpreparse">Share</a></div></li>
                   <li><div class="inline mobile-hide"><a class="twitter-share-button"
              href="https://twitter.com/intent/tweet?text=#listento #pitpodcast {{episode.episode_number}}:%20{{episode.title}} from @prodintech">
            </a>
        </div></li></ul>
</div>
    <div id="shownotes"class="left section">
        {% if shownotes %}
        {{shownotes}}
        {% else %}
        <p>I'm sorry but shownotes have note been completed for this episode yet.</p>
        {% endif %}
        <h3><strong>Join one (or more) of our Social Network Communities<br /></strong></h3>
      <ul class="">
        <li id="facebook">
          <a href="/fb">
          <img src="/static/images/FB-f-Logo__blue_58.png" alt='facebook'> <strong>Join our Facebook Group</a>
        </li>
        <li>
            <a class="twitter-follow-button" href="https://twitter.com/prodintech">
                Follow @Prodintech</a>
          </li>
          </ul>
    </div>
</div>
</div>
</div>

        {% endblock %}
