{% extends 'base.html' %}
{% block head %}
    <Title>{{podcast['title']}} {%if episode['episode_number']%}{{episode.episode_number}}{% endif %}:{{episode.title}} – Productivity in Tech</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/play.css') }}">
<!-- twitter code -->
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=144774345966834";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Site Content -->
<div id="content_wrapper">
    <div id="podcast_info">
        <h1>{{episode['title']}}</h1>


        <div class="subscribe left">
            <ul>
              <li><em>Subscribe Via...</em></li>
                {% for link in podcast.links %}
                <li>
                <a href="{{link.url}}">
                {% if link.image_path %}<img alt="{{link.name}}" src="{{link.image_path}}" height="65em"/>
                {% else %}
                {{link.name}}
                {% endif %}
                </a>

            </li>
            {% endfor %}
            </ul>
        </div>
        <div class="audio">
         <audio preload="none" controls src="{{episode['media_url']}}" type="audio/mpeg">
            Sorry your browser doesn't support HTML Audio
        </audio>
    </div>
    <div id="shownotes"class="left section">
        {{shownotes}}
    </div>


        <!-- Your share buttons code -->
<div class="share_buttons center">
            <ul class="inline"><li><div class="mobile-hide inline fb-share-button" data-href="http://productivityintech.com/{{podcast['collection_name']}}/{{episode.episode_number}}" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://productivityintech.com/{{podcast['collection_name']}}/{{episode.episode_number}};src=sdkpreparse">Share</a></div></li>
                   <li><div class="inline mobile-hide"><a class="twitter-share-button"
              href="https://twitter.com/intent/tweet?text=#listento #pitpodcast {{episode.episode_number}}:%20{{episode.title}} from @prodintech">
            </a>
        </div></li></ul>
    <div class="similar">
      <h2>Similar Posts:</h2>
      {% if other_posts %}
       <ul>
         {% for entry in other_posts %}
         <li>
           <a class="black underline" href="{{entry[0][0]}}">{{entry[0][1]}}</a></li>
         {% endfor %}
      </ul>
      {% else %}
      <p style="text-align: center;">No Current Similar Posts (We'll work on that. 😀)</p>
      {% endif %}
    </div>
</div>


<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = https://productivityintech.com/pitpodcast/{{id}};  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = {{id}}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://https-productivityintech-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
</div>
</div>

        {% endblock %}
