{% extends 'base.html' %}

{% block content %}
<div class= "content-wrapper">
<div class="content">
<link rel="stylesheet" href="{{ url_for('static', filename='css/podcast_archive.css')}}">

<h1>Podcast Archive</h1>
<ul>
{% for episode in episodes %}
<li>
<a href='{{url_for('play', episode_number=episode['episode_number'])}}'>{{episode['title']}}</a>
</li>
{% endfor %}
</ul>
<ul class="center">
        <li><a><<</a></li>
        <li><a><</a></li>
        <li><a>></a></li>
        <li><a>>></a></li>
</ul>
</div>
</div>
{% endblock %}

