{% extends 'base.html' %}
{% block head%}
    <title>{{entry['title']}} - Productivity in Tech</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog_post.css') }}">
<div class="section">
<div class="post-title">
    <h1>{{title}}</h1>
    <ul class="post-metadata inline">
        <li>by {{ author['name'] }} on <em>{{publish_date}}</em></li>
        <li><b>Tags:</b></li>
        {% for tag in entry['tags'] %}
            <li><em><a href="#" class="black underline">{{tag}}</a>{% if tag_length > 1 %},{% endif%} </em></li>
        {% endfor %}
    </ul>
</div>
<hr class="pit-blue">
<div id="content" class="section post-content">
{{content}}</div>
<div id="author-info">
<p>{{author['info']}}</p>
<ul class='inline'>
{% for link in author_links %}
<li><a href="{{link['url']}}"><img src="{{link['image_src']}}" alt="{{link['name']}}"></a></li>
{% endfor %}
</ul>
</div>
</div>

{% endblock %}
