{% extends 'base.html' %}

{% block content %}

<div class="section">
	<h1 class="centered">Thank you for registering! 🍾</h1>
	You will recieve an email confirming your registration along with the instructions below (In case you need a reminder)

	<h2>When will the course be live?</h2>
	The course will go live on January 1, 2018 (Happy New Year. Resolve to get better at Saying No!)
	
	<h2>How will I recieve the course?</h2>
	You will get the course in several formats. You will receieve about 2 emails from me per week. Each email will have an accompanying video. It is recommended that you do not rush through the course as each topic will require you to take time to reflect and implement what you've learned. 

	<h2>How Long is this course</h2>
	It is a month long. Expect About 10 emails/videos total! 

	<h2>When will I be charged for the course</h2>
	Your pre-order will go through once the first email for the course is released. If I don't keep up my end of the bargain, you will recieve a full refund.

</div>
{% endblock%}