{% extends 'base.html' %}

{% block content %}
<div class="full-width top-buffer">
<h1>Services Provided by Productivity in Tech</h1>
<p><i>Productivity in Tech's</i> mission is quite simple.</p>
<quote>Help those in the tech space achieve more by helping them to focus on what matters...</quote>
<p>We provide several services to help drive you to success.</p>

<h2>Personal Productivity Consulting</h2>
  <ul>
  <li class="italic">"There aren't enough hours in the day to get it all done."</li>
  <li class="italic">"I struggle getting the right things accomplished."</li>
  <li class="italic">"There's a ton of things I have to do but where do I start!"</li>
</ul>
<p>
  These are common thoughts that business leaders and their team alike have. It's important to know that you aren't alone in thinking this and there are ways to overcome these issues.
</p>
<p><em>Productivity in Tech</em> provides 1-on-1 consulting and provides a direct line with your productivity counselor.</p>
<a href="counseling"><h3>Schedule your first call now</h3></a>

{% endblock %}
