{% extends 'base.html' %}
{% block content%}
<div class="section">
{% if coupon %}
<h1>{{header}}</h1>
<h3>{{coupon['thanks']}}</h3>
{% else %}
<h1>Become a PIT Member Today!</h1>
{% endif %}
<div class="">

<h2>Your membership gets you:</h2>

<div style="display:flex; flex-basis: justify-content: space-between; align-items:flex-start;  padding-bottom: 2em; padding-top: 2em; width: 100%; margin-right: 1em;">
<div>
  <ul>
    <li>Access to the PIT Members Slack Channel</li>
    <li>Special **Members Only** Podcasts Perks 🤐</li>
    <li>Frequent Productivity Hangouts</li>
    <li>Sneak Peaks and Early Access to Courses and Other PIT Paid Content</li>
  </ul>
  <form action="/subscribe/coupon-code" method="POST">
<!--  Promo Code: <input type="text">
  <input type="submit" value="Submit">
  </form> -->
</div>
  <div class="center" style="background-color:#3394FA; box-shadow: 10px 10px #333333; color: #fdfdfd; padding: 1em; border-radius: 5px; margin-right: 1em;">
    <h2 class="white">Subscribe Annually</h2>
    <span style="font-size: 14px;"><em>and get 2 Free Months!</em></span>
{% if coupon %}
  <form action="/payment/pit300/{{coupon['code']['annual']}}" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="{{data_key}}"
      data-image=""
      data-name="Subscibe Annually"
      data-description="${{coupon['amounts']['annual']}}/yr (after 7-day free trial)"
      data-amount="{{coupon['amounts']['annual'] * 100 }}"
      data-label="Try for 7 Days">
    </script>
    </br>
  <br><del>{{amounts['annual']}}</del>  $100/year
{% else %}
  <form action="/payment/pit300" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="{{data_key}}"
      data-image=""
      data-name="Subscibe Annually"
      data-description="${{amounts['annual']}}/yr (after 7-day free trial)"
      data-amount="{{amounts['annual'] * 100}}"
      data-label="Try for 7 Days">
    </script>
    </br>
  <br>$300/year</b>
  {% endif %}
  </form>
  </div>

<div class="center" style="background-color:#3394FA; box-shadow: 10px 10px #333333; color: #fdfdfd; padding: 1em; border-radius: 5px;">
      <h3 class="white">Subsribe Monthly</h3>
      
{% if coupon %}
  <form action="/payment/pit30/{{coupon['code']['mounthly']}}" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="{{data_key}}"
      data-image=""
      data-name="Subscibe Annually"
      data-description="${{coupon['amounts']['monthly']}}/yr (after 7-day free trial)"
      data-amount="{{coupon['amounts']['monthly'] * 100 }}"
      data-label="Try for 7 Days">
    </script>
    </br>
  <br><del>{{amounts['monthly']}}</del>  ${{coupon['amounts']['monthly']}}/month
{% else %}
  <form action="/payment/pit30" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="{{data_key}}"
      data-image=""
      data-name="Subscibe Annually"
      data-description="${{amounts['monthly']}}/month (after 7-day free trial)"
      data-amount="{{amounts['monthly'] * 100}}"
      data-label="Try for 7 Days">
    </script>
    </br>
  <br>${{amounts['monthly']}}/month</b>
  {% endif %}
  </form>
  </div>

</div>
</div>
{% endblock %}
