{% extends 'base.html' %}
{% block content%}
<div class="section">
<h1>Become a PIT Member Today!</h1>
<div class="">

<h2>Your membership gets you:</h2>

<div style="display:flex; flex-basis: justify-content: space-between; align-items:flex-start;  padding-bottom: 2em; padding-top: 2em; width: 100%; margin-right: 1em;">
<div>
  <ul>
    <li>Access to the PIT Members Slack Channel</li>
    <li>Special **Members Only** Podcasts Perks 🤐</li>
    <li>Frequent Productivity Hangouts</li>
    <li>Sneak Peaks and Early Access to Courses and Other PIT Paid Content</li>
  </ul>
</div>
  <div class="center" style="background-color:#3394FA; box-shadow: 10px 10px #333333; color: #fdfdfd; padding: 1em; border-radius: 5px; margin-right: 1em;">
    <h2 class="white">Subscribe Annually</h2>
    <b><em> (and get two months free!)</em></b></br>
  <b>$300/year</b>
  <form action="/payment/pit300"method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="{{data_key}}"
      data-image=""
      data-name="Subscibe Annually"
      data-description="$300/yr (after 7-day free trial)"
      data-amount="30000"
      data-label="Subscribe">
    </script>
  </form>
  </div>

<div class="center" style="background-color:#3394FA; box-shadow: 10px 10px #333333; color: #fdfdfd; padding: 1em; border-radius: 5px;">
      <h3 class="white">Subsribe Monthly</h3>
      <b>$30/month</b>

      <form action="/payment/pit30" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{data_key}}"
          data-image=""
          data-name="Subscribe Monthly"
          data-description="$30/month (after 7-day free trial)"
          data-amount="3000"
          data-label="Subscribe">
        </script>
      </form>
    </div>

</div>
</div>
{% endblock %}
