{% extends 'base.html' %}

{% block content%}
<h1>Take the Productivity in Tech Podcast with You!</h1>
<p>You can subscribe to the Productivity in Tech many different ways.</p>
<ul>
  <li><a href="https://itunes.apple.com/us/podcast/productivity-in-tech-podcast/id1086437786?mt=2" class="black underline hover-italic">iTunes</a></li>
  <li><a href="https://play.google.com/music/listen#/ps/Isoopwbe6zdbev5ijenegkcpp44" class="black underline hover-italic">Google Play</a></li>
  <li><a href="http://tunein.com/radio/Productivity-in-Tech-Podcast-p894677/" class="black underline hover-italic">TuneIn</a></li>
  <li><a href="http://app.stitcher.com/browse/feed/85598/details" class="black underline hover-italic">Stitcher</a></li>
  <li><a href="https://overcast.fm/itunes1086437786/the-productivity-in-tech-podcast" class="black underline">Overcast</a></li>
  <li><a href="http://pca.st/4f8O" class="black underline">PocketCasts</a></li>
</ul>

<h2>Don't See Your Podcast Player?</h2>
<p>You can subscribe on most podcast players using the <a href="https://productivityintech.libsyn.com/rss class="black underline>rss link</a>. If you don't see our podcast on the platform you like, let us know on our <a href="/feedback" class="black underline">feedback page</a>.</p>
{% endblock %}
