{% extends 'base.html' %}
{% block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/support.css')}}">
<div class="center">
<h1>Help Support Productivity in Tech</h1>
Pledge a few dollars to <em>Productivity in Tech</em>

<ul class="two-column">
    <li><a href="/patreon" class="black underline"><h3>Support the Podcast Monthly via Patreon</h3><br/><img src='/static/images/patreon.png' width="300em"></a></li>

    <li><a href="/paypal" class="black underline"><h3>Give a One-Time Donation via Paypal</br></br></br><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_200x51.png" alt="PayPal" /></h3></a></li>
</ul>

<h2>Rate and Review the show</h2>
<p>A 5 Star Review helps put the shows in front of other people!</p>
<a href="https://itunes.apple.com/us/podcast/productivity-in-tech-podcast/id1086437786?mt=2"><img src='/static/images/Get_it_on_iTunes_Badge_US_1114.svg' height="100em"></a>
<ul>
    {% for collection in collections %}
        <li>collection.name</br>collection.ITunes</li>
    {% endfor %}
</ul>
<h3>Use our nifty <b>IFTTT Recipes</b> to share on twitter and facebook!</h3>
<ul>
    <li id="pitpodcast"><a href="https://ifttt.com/view_embed_recipe/477738-tweet-new-productivity-in-tech-episodes" target = "_blank" class="embed_recipe embed_recipe-l_39" id= "embed_recipe-477738"><img src= 'https://ifttt.com/recipe_embed_img/477738' alt="IFTTT Recipe: Tweet New Productivity in Tech Episodes connects feed to twitter" width="370px" style="max-width:100%"/></a><script async type="text/javascript" src= "//ifttt.com/assets/embed_recipe.js"></script></li>
    <li id="pitreflections"><a href="https://ifttt.com/view_embed_recipe/477739-tweet-new-pitreflections" target = "_blank" class="embed_recipe embed_recipe-l_25" id= "embed_recipe-477739"><img src= 'https://ifttt.com/recipe_embed_img/477739' alt="IFTTT Recipe: Tweet New #PITReflections connects feed to twitter" width="370px" style="max-width:100%"/></a><script async type="text/javascript" src= "//ifttt.com/assets/embed_recipe.js"></script></li>
</ul>
{% endblock %}
<div>
