{% extends 'base.html' %}
{% block content%}

<h1>Help Support Productivity in Tech</h1>

Pledge a few dollars to <em>Productivity in Tech</em>
<h2>Ways to Share the podcast</h2>
Use our nifty <b>IFTTT Recipe</b>
<ul>
    <li id="pitpodcast"><a href="https://ifttt.com/view_embed_recipe/477738-tweet-new-productivity-in-tech-episodes" target = "_blank" class="embed_recipe embed_recipe-l_39" id= "embed_recipe-477738"><img src= 'https://ifttt.com/recipe_embed_img/477738' alt="IFTTT Recipe: Tweet New Productivity in Tech Episodes connects feed to twitter" width="370px" style="max-width:100%"/></a><script async type="text/javascript" src= "//ifttt.com/assets/embed_recipe.js"></script></li>
    <li id="pitreflections"><a href="https://ifttt.com/view_embed_recipe/477739-tweet-new-pitreflections" target = "_blank" class="embed_recipe embed_recipe-l_25" id= "embed_recipe-477739"><img src= 'https://ifttt.com/recipe_embed_img/477739' alt="IFTTT Recipe: Tweet New #PITReflections connects feed to twitter" width="370px" style="max-width:100%"/></a><script async type="text/javascript" src= "//ifttt.com/assets/embed_recipe.js"></script></li>
</ul>


{% endblock %}
