{% extends 'base.html' %}

{% block content%}
<div class="section">
Thank you for being a PIT Premium Member.

Below is a list of things that you can download. This list will keep growing as we continue to improve the Vault!

<h1>Available for Download</h1>
Some of these things are available to the public, but here is a quick place to get a look at it all in one place. Some links will go offsite... We are not responsible for those sites, but let us know if you find any weirdness.
	<h2>Alfred Workflows</h2>
	<ul>
	    <li><a href="https://s3-us-west-2.amazonaws.com/productivity-in-tech-vault/Cardhop.alfredworkflow">Quick Add to CardHop</a></li>
	    <li> <a href="https://s3-us-west-2.amazonaws.com/productivity-in-tech-vault/Screenshot.alfredworkflow">Take Screenshot</a></li>
	    <li><a href="https://s3-us-west-2.amazonaws.com/productivity-in-tech-vault/Copy+to+Clipboard.alfredworkflow">Copy to Clipboard</a></li>
	    <li><a href="https://s3-us-west-2.amazonaws.com/productivity-in-tech-vault/Key+Symbols.alfredworkflow">Keyboard Symbols</a></li>
	    <li><a href="https://s3-us-west-2.amazonaws.com/productivity-in-tech-vault/Obfuscate+Text.alfredworkflow">Obfuscate Text</a></li>
	    <li><a href="https://s3-us-west-2.amazonaws.com/productivity-in-tech-vault/nvALT+Shortcuts.alfredworkflow">nvAlt Shortcuts</a></li>
	    <li><a href="https://s3-us-west-2.amazonaws.com/productivity-in-tech-vault/tweetbot.alfredworkflow">Tweetbot (Contact Enabled)</a></li>
	    <li><a href="https://s3-us-west-2.amazonaws.com/productivity-in-tech-vault/Add+Event+to+Fantastical.alfredworkflow">Add Event to Fantastical</a></li>
	    <li><a href="https://s3-us-west-2.amazonaws.com/productivity-in-tech-vault/Change+Slack+Channel.alfredworkflow">Change Slack Channels</a></li>
	</ul>


<h1>Coming Soon</h1>
<ul>
	<li>Learn to Say No - Course</li>
</ul>	

More things to Come (Like a redesign...) I'll announce new additions in the slack channel! (Or I'll have the website do it for me!)
</div>
{% endblock %}